* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body {
  padding: 12px;
  background-color: #e6fce8;
  height: 100vh;
}
header {
  background-color: #3bc048;
  position: sticky;
  top: 0px;
  padding: 10px;
}
.transactions {
  background-color: #c9f3cd8d;
  margin: 0 auto;
  margin-bottom: 10px;
  width: 99%;
  /* min-width: 98%; */
  min-height: 200px;
  color: #222;
  grid-template-columns: 2fr 2fr;
  /* column-gap: 10px; */
}
.transactions_row {
  padding: 3px;
  display: flex;
  align-items: center;
  border-bottom: 3px solid #eee;
}
.transaction_details {
  display: flex;
  flex-direction: column;
}
.transaction_details > .date_time {
  font-size: 12px;
}
.transaction_list {
  font-size: 1.1rem;
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: 3px;
  font-style: italic;
  font-family: sans-serif;
  /* padding: 0.1rem 1rem; */
  border-radius: 10rem;
  margin-right: 2rem;
}
.transaction_amount {
  font-size: 1.3rem;
  margin-left: auto;
  margin-right: 5px;
  line-height: 100%;
  font-weight: 800;
}
select {
  min-width: 100px;
  font-size: 18px;
  font-weight: 700;
  font-family: arial;
  height: 40px;
  background-color: #98efa0;
  border-radius: 10px;
  outline: none;
  border: 1px solid #288d32;
}

option {
  background-color: azure;
  border-radius: 10px;
  cursor: pointer;
}
.selected_input_field {
  /* height: 30px; */
  width: 50%;
  margin-right: 0;
  border-top-left-radius: -15px;
  border-bottom-left-radius: 15px;
  overflow-x: scroll;
  border-top-color: #2db93b;
  border-right-color: #1c4a21;

}
.select_field {
  margin: 20px 0;
  display: flex;
  width: 100%;
  overflow-x: scroll;
}
.amount {
  border-radius: 0px;
  width: 35%;
  margin-right: 5px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: -15px;
  border-left-color: transparent;
}

.field {
 padding: 2px 0 2px 10px;
  font-size: 1.2em;
  font-weight: 800;
  height: 40px;
  outline: none;
  font-family: "Times New Roman", Times, serif;
}
.submit {
  background-color: #98efa0;
  width: 15%;
  font-size: 20px;
  padding-left: 0;
  font-weight: 1000;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
}
.hidden {
  opacity: 0;
}
.invisible {
  visibility: hidden;
}
.signup_box {
  background-color: rgb(173, 224, 175);
  position: fixed;
  top: 10%;
  left: 5%;
  right: 5%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
.signup_form {
  padding: 15px;
  width: 100%;
  height: 30vh;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
}
.signup_input {
  width: 100%;
  height: 35px;
  font-size: 15px;
  margin-bottom: 5px;
  border-radius: 5px;
  outline: none;
  border: 0;
  padding-left: 5px;
}
.signup_input_close_btn {
  background-color: transparent;
  border: 0;
  outline: none;
  font-weight: 1000;
  font-size: 25px;
  cursor: pointer;
  padding: 0 5px;

  width: 10%;
  margin-left: auto;
  margin-right: 10px;
}
.create_account_btn {
  display: block;
  min-width: 50%;
  margin: 10px auto;
  min-height: 30px;
  background-color: #a3f7ac;
  font-weight: 500;
  font-size: 17px;
  padding: 5px;

  /* border: 0; */
  border-top-color: #1f7928;
  border-bottom-color: #1f7928;
  border-left-color: #031d05;
  border-right-color: #a8efaf;
  outline: 0;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.categories {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6px;
  margin-bottom: 10px;
}
.amountlist {
  display: block;
  width: 80%;
  margin: 0 auto;
  border-radius: 0;
}
.initialise_btn {
  display: block;
  min-width: 50%;
  margin: 20px auto;
  min-height: 30px;

  background-color: #a3f7ac;
  border: 2px solid green;
  outline: 0;
  color: #022906;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
  font-family: "Times New Roman", Times, serif;
  padding: 6px;

  animation: glow 2s linear 2s infinite;
}

@keyframes glow {
  0% {
    background-color: #a2f1ab;
  }
  50% {
    background-color: #64dc70;
  }
  100% {
    background-color: #6bf179;
  }
}
  .refresh_btn {
  font-size: 16px;
  background-color: #c1ecc6;
  font-weight: bold;
  outline: none;
  padding: 10px 3px;
  border: 1px solid rgba(0, 0, 0, 0.692);
  width: 70%;
  margin: 0 auto;
}
